/* 다크모드 적용 대상 */
.dark .toastui-editor-contents code {
  color: #c1798b;
  background-color: #4a4a4a;
}

.dark .toastui-editor-defaultUI {
  background-color: #1e1e1e;
  color: #f5f5f5;
}

.dark .toastui-editor-defaultUI-toolbar {
  background-color: #2c2c2c;
  border-color: #3a3a3a;
}

.toastui-editor-contents {
  padding: 18px 25px !important;
  background-color: #fff;
}

.dark .toastui-editor-contents {
  padding: 18px 25px;
  background-color: #1e1e1e;
  * {
    color: #f5f5f5;
  }
}

.dark .toastui-editor-toolbar-icons {
  filter: brightness(1.8);
}

.dark .toastui-editor-popup-add-heading ul {
  background-color: #1e1e1e;

  li:hover {
    background-color: #0a3a5a;
  }
}

/* Editor의 code block */
.dark .toastui-editor-ww-code-block {
  pre {
    background-color: #3a3a3a;
  }
}

.dark .toastui-editor-ww-code-block::after {
  filter: brightness(3.1);
  background-color: #1c1c1c !important;
  color: #555 !important;
}

/* Viewer의 code block */
.dark .toastui-editor-contents pre {
  background-color: #3a3a3a;
}

/* color picker */
.dark .toastui-editor-popup-body {
  background-color: #3a3a3a;
}
.dark .toastui-editor-popup-body input[type="text"].tui-colorpicker-palette-hex {
  color: #f5f5f5;
}

/* color picker 색상 위치 조정 */
.toastui-editor-popup-color .tui-colorpicker-container .tui-colorpicker-palette-preview {
  margin-top: 4px;
}

/* color picker 색상코드 표시부 길이 조정 */
.toastui-editor-popup-body input[type="text"].tui-colorpicker-palette-hex {
  width: 90px;
}

.toastui-editor-popup-color button {
  border: 1px solid #e1e3e9 !important;
}

.dark .toastui-editor-popup-add-table .toastui-editor-table-description {
  color: #e1e3e9;
}

.dark .toastui-editor-popup-add-image .toastui-editor-tabs .tab-item {
  color: #e1e3e9;
}

.dark .toastui-editor-popup-body label {
  color: #e1e3e9;
}

.dark .toastui-editor-popup {
  background-color: #3a3a3a;
}

.dark .toastui-editor-contents pre code {
  background-color: #3a3a3a;
  color: #f5f5f5;
  font-size: 1rem;
  text-shadow: none;
}

.toastui-editor-contents pre code {
  font-size: 1rem;
  text-shadow: none;
}

.toastui-editor-contents hr {
  border-top: 2px solid #e1e3e9 !important;
}

.dark .toastui-editor-contents hr {
  border-top: 2px solid #4a4a4a !important;
}

.dark .toastui-editor-popup-add-image .toastui-editor-file-name.has-file {
  color: #f5f5f5;
}

.dark .toastui-editor-popup-body input[type="text"] {
  color: #f5f5f5;
}

/* 첨부한 이미지의 너비, 가운데 정렬 관련 */
.toastui-editor-contents img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 1rem auto !important; /* 가운데 정렬 및 여백 */
  max-height: 450px; /* 필요시 최대 높이 제한 */
  object-fit: contain;
  border-radius: 8px; /* 디자인적으로 깔끔하게 */
}

/* 표 다크모드 외곽선 색상 */
.dark .toastui-editor-contents table th,
.dark .toastui-editor-contents table td {
  border-color: #4a4a4a;
}

.toastui-editor-contents table {
  margin: 0 auto !important;
}

p,
th,
td,
code {
  font-size: 1rem;
}

/* 코드블럭 내에서 = 사용시 배경색이 들어가는 것 무시 */
.token.operator {
  background: none !important;
}
